@use "fonts";
@use "colours";

body {
  margin: 0;
  padding: 0;
  font-family: IBMPlexSans;
  line-height: 1.5;
  background-color: var(--bg-main);
  color: var(--fg-main);
}

.content-width {
  padding-inline: 1rem;
  width: calc(100% - 2rem);
  max-width: 75ch;
  margin-inline: auto;
}

.details {
  border: 1px solid var(--bg-emphasis);
  border-radius: 0.5rem;
  overflow: hidden;
  display: inline-flex;
  margin: 0;
  padding: 0;
  max-width: calc (100% -1rem);
  .display-details {
    border: none;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-inline: 0.5rem;
    font-family: IBMPlexMono;
    font-size: 0.875rem;
    max-width: 100%;
    overflow-x: auto;
    flex-shrink: 1;
  }
  .details-option {
    position: relative;
    border: none;
    width: 2.3125rem;
    flex-shrink: 0;
    background-color: var(--bg-secondary);
    border-left: 1px solid var(--bg-emphasis);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 1rem;
      color: var(--fg-secondary);
      pointer-events: none;
      z-index: 2;
    }
    gap: 0.5rem;
    a,
    span,
    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      z-index: 1;
      background-color: var(--bg-secondary);
    }
    @media (hover: hover) {
      span:hover,
      button:hover {
        background-color: var(--bg-main);
        transition-duration: 0.2s;
      }
    }
    span:active,
    button:active {
      background-color: var(--bg-emphasis);
      transition: 0.2s;
    }
  }
}

.horizontal-array {
  margin-inline: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.link-button {
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--bg-secondary);
  padding: 0.5rem;
  padding-top: calc(0.5rem - 1px);
  padding-bottom: calc(0.5rem - 1px);
  border-radius: 0.5rem;
  border: 1px solid var(--bg-emphasis);
  span,
  button,
  a {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  p {
    margin: 0;
  }
  i,
  p {
    pointer-events: none;
    z-index: 2;
  }
  button {
    z-index: 1;
    // background-color: none;
    span {
      z-index: 2;
    }
  }
}

@media (hover: hover) {
  .link-button:hover {
    background-color: var(--bg-main);
    transition: 0.2s;
  }
  .accent-hover:hover i {
    color: var(--fg-secondary) !important;
  }
}

.link-button:active {
  background-color: var(--bg-emphasis);
  transition: 0.2s;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--bg-emphasis);
  padding: 0;
}

#pfp {
  max-width: 100%;
  width: 200px;
  margin-inline: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  img {
    border-radius: 50%;
    border: 1px solid var(--bg-emphasis);
    width: 100%;
  }
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#other-links .horizontal-array {
  margin-bottom: 1rem;
}

header {
  hr {
    margin: 0;
  }
  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    div {
      display: flex;
      align-items: center;
      height: 2rem;
    }
    i {
      font-size: 1.5rem !important;
      color: var(--fg-main);
      transition: 0.2s;
    }
  }
  .link-button {
    display: flex;
    border-radius: initial;
    background-color: var(--bg-main);
    transition: 0.2s;
    border: none;
  }
  @media (hover: hover) {
    .link-button:hover {
      background-color: var(--bg-secondary);
      transition: 0.2s;
    }
    button:hover i {
      color: var(--fg-secondary);
      transition: 0.2s;
    }
  }
  .link-button:active {
    background-color: var(--bg-secondary);
  }
  #theme-dropdown-container {
    position: relative;
    i {
      color: var(--fg-main);
    }
    .dropdown-menu {
      right: 0;
      display: none;
      border-radius: 0.5rem;
      border: 1px solid var(--bg-emphasis);
      overflow: hidden;
      position: absolute;
      .link-button {
        padding-inline: 1rem;
      }
    }
  }
}

#header-components {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // border-bottom: 1px solid var(--bg-emphasis);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#site-banner {
  padding: 0;
  img {
    border-radius: 50%;
    height: calc(2rem - 6px);
    border: 1px solid var(--bg-emphasis);
  }
  color: var(--fg-main);
  i,
  p {
    color: var(--fg-main);
    transition: 0.2s;
    font-weight: bold;
  }
}

#site-banner:active p {
  color: var(--fg-secondary);
  // transition: 0.2s;
}

@media (hover: hover) {
  #site-banner {
    background-color: var(--bg-main);
  }
  #site-banner:hover i,
  #site-banner:hover p {
    color: var(--fg-secondary);
    transition: 0.2s;
  }
}

@media (max-width: 250px) {
  #site-banner p {
    display: none;
  }
}

#greeting {
  display: flex;
  justify-content: space-around;
  #greeting-content {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--fg-secondary);
    p {
      // margin: 0;
      font-style: italic;
    }
  }
}

hr {
  margin-top: 1rem;
}
