@font-face {
  font-family: IBMPlexMono;
  src: url("https://cdn.alexneville.co.uk/fonts/IBMPlexMono.ttf")
    format("truetype");
}

body {
  margin: 0;
  font-family: IBMPlexMono;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  max-width: 100%;
  background-color: var(--bg);
  color: var(--fg);
}

.content-width {
  width: calc(100vw - 2em);
  max-width: 75ch;
  margin-inline: auto;
  padding: 1em;
}

.justify-items {
  display: flex;
  justify-content: space-between;
}

#list-of-links {
  list-style-type: none;
  list-style-position: inside;
  margin-inline: 0;
  padding-inline: 0;
  line-height: 2em;
  margin-left: 1em;
  overflow-x: hidden;
}

#list-of-links li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
#list-of-links i {
  margin-right: 0.5em;
}

li:not(:last-child) {
    margin-bottom: 0.5em;
}

li a {
  margin-right: 0;
  padding-right: 0;
  display: inline-block;
}

a,
a:visited {
  text-decoration: none;
  color: var(--blue);
}

a:hover,
a:active {
  text-decoration: underline;
}

@media (hover: none) {
  a:hover,
  a:active {
    text-decoration: none;
  }
}

#header a {
  color: var(--grey);
}
#footer {
  font-size: 0.875em;
  color: var(--grey);
  text-align: center;
}
#header p,
#footer p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  color: var(--grey);
  background-color: inherit;
  border: none;
}

button i {
  pointer-events: none;
}

@media (hover: hover) {
  button:hover {
    color: var(--fg);
  }
  #header a:hover {
    color: var(--blue);
  }
}

@media screen and (max-width: 300px) {
  #header a {
    display: none;
  }
}
